<tr>
    <td>{{ session['user_name'] }}</td>
    <td>{{ trip['beginDate'] }}</td>
    <td>{{ trip['endDate'] }}</td>
    <td>{{ trip['depatureCity'] }}</td>
    <td>{{ trip['tripTheam'] }}</td>
    <td>{{ trip['location'] }}</td>
    <td>${{ trip['budget'] }}</td>
    <td>{{ 'Yes' if trip['noFlying'] else 'No' }}</td>
    <td>{{ 'Yes' if trip['familyFriendly'] else 'No' }}</td>
    <td>{{ 'Yes' if trip['disabilityFriednly'] else 'No' }}</td>
    <td>{{ 'Yes' if trip['pdfOutput'] else 'No' }}</td>
    <td>{{ 'Yes' if trip['groupDiscount'] else 'No' }}</td>
</tr>
